@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

html,
body,
#root,
.chat-layout {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: red;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

html,
body,
textarea,
button {
  background: rgb(8, 9, 13);
  color: white;
  font-family: Manrope, Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.chat-layout {
  padding: 10px;
  max-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 15px;
}

.feed-wrap {
  overflow-y: auto;
}

.feed,
form {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  padding: 10px;
  width: fit-content;
}

.message:nth-child(odd) {
  background: #3b3b3b;
}

.message:nth-child(even) {
  background: #563af2;
}

.message .chunk {
  display: inline-block;
  white-space: pre-wrap;
  animation: appear 200ms ease-in-out;
}

@keyframes appear {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

form {
  border: 2px solid rgb(148, 148, 148);
  display: flex;
}

form:focus,
form:focus-within,
form:hover {
  border-color: white;
}

textarea,
button {
  border: none;
  outline: none;
}

textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}
